<%= render 'layouts/header' %>

<div class='container'>
  <div class='blog'>
    <h1 class='blogHeading'>新着記事</h1>
    <div class='row'>
      <% @blogs.each do |blog| %>
        <div class='col-md-4'>
          <div class='blogItem'>
            <div class='blogItemContent'>
              <div class='blogItemTitle'><%= blog.title %></div>
              <div class='blogItemUser'><%= blog.user.nickname %></div>
              <div class='blogItemTime'><%= blog.updated_at.to_s(:datetime_jp) %></div>
              <div class='blogItemArticle'><%= blog.article %></div>
            </div>
            <div class='blogItemContinued'><%= link_to '続きを読む', blog_path(blog) %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
