<%= javascript_pack_tag 'blog/application' %>

<div class='blogNew'>
  <div class='container'>
    <div class='blogNewForm'>
      <%= form_with model: blog, local: true  do |f| %>
        <div class='form-group'>
          <%= f.text_field :title, class: 'form-control', placeholder: 'タイトル(40文字まで)', maxlength: '40', id: 'articleTitle' %>
          <div class='articleCount' id='title_num'>
            <% if blog.title == nil %>
              0文字/40文字
            <% else %>
              <%= blog.title.length %>文字/40文字
            <% end %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.text_area :article, class: 'form-control', rows: '20', placeholder: '本文を入力してください(1000文字まで)', maxlength: '1000', id: 'articleText' %>
          <div class='articleCount' id='text_num'>
            <% if blog.article == nil %>
              0文字/1000文字
            <% else %>
              <%= blog.article.length %>文字/500文字
            <% end %>
          </div>
        </div>

        <div class='text-center'><%= f.submit '送信', class: 'btn btn-primary' %></div>
        <div class='text-center'><%= link_to 'キャンセル', blogs_path, class: 'cancelLink' %></div>
      <% end %>
    </div>
  </div>
</div>
