<header class='header'>
  <div class='header_wrapper'>
    <ul class='list-unstyled header_menu'>
      <li class='header_title'>
        <%= link_to blogs_path do %>
          <i class="fas fa-pen-nib"></i>Tagebuch
        <% end %>
      </li>
      <li class='header_create'>
        <ul class='header_create_nav'>
          <li class='doropdown'>
            <div class='userName dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <%= image_tag 'user_icon_default.png', size: '18x18', class: 'user_icon' %>
              <%= current_user.nickname %>
            </div>
            <div class='dropdown-menu header_create_nav_menu' aria-labelledby='dropdownMenuLink'>
              <%= link_to user_path(current_user.id), class: 'dropdown-item menu_link' do %>
                <i class="far fa-file-alt"></i> マイページ
              <% end %>
              <%= link_to edit_user_path(current_user.id), class: 'dropdown-item menu_link' do %>
                <i class="fas fa-cog"></i> アカウント編集
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item menu_link' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </div>
          </li>
          <li>
            <%= link_to new_blog_path do %>
              <i class="fas fa-edit"></i>記事作成
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
